<div class="img_container">
    <img src={Routes.static_path(@socket, "/images/denk.png")} alt="">
    <img src={Routes.static_path(@socket, "/images/dinginbek.png")} alt="">
    <img src={Routes.static_path(@socket, "/images/smurfmuts.png")} alt="">
</div>