<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "BinckQuotes" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>

    <div id="viewport">
      <nav id="sidebar">
          <span>
            <%= live_redirect to: "/", class: "title_link" do %>
              <h1>Binck Quotes</h1>
            <% end %>
          </span>

          <div class="links">
            <%= live_redirect to: "/oud" do %><h2>Oude Quotes</h2><% end %>
            <%= live_redirect to: "/nieuw" do %><h2>Nieuwe Quotes</h2><% end %>
            <%= live_redirect to: "/random" do %><h2>Random Quote</h2><% end %>
          </div>
      </nav>

      <%= @inner_content %>
    </div>
  </body>
</html>
